* {
  box-sizing: border-box;
}

html {
  font-size: 3vmin;
}

body {
  /*   border: 4rem pink dashed; */
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ticTacToeGrid {
  /*   outline: 3px solid lime; */
  background: skyblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: fit-content;
  gap: 3rem;
  user-select: none;

}

.ticTacToeCell {
  font-size: 5rem;
  outline: 0.5rem solid pink;
  width: 6rem;
  height: 6rem;


  /*  lets center the content in the cell using flexbox  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}